$bgcolor:   lightblue
$textcolor: darkblue
$fontsize:  18px
$white: #ffffff
$header-color: #0f86f5

.header, .footer
  background-color: $header-color
  color: #ffffff

.gold
  color: #FFDF00
  cursor: pointer

.cart
  color: $white
  cursor: pointer

.navbar-collapse
  display: flex
